.img{
  height: 150px;
}

.parentDiv{
  justify-content: center;
  text-align: center;
}
.homeBar{
  display: inline-flex;
  background-color: beige;
}
.navBar ul li {
  display: flex;
  /* flex-direction: row;
  justify-content: center; */
}